@font-face {
  font-family: "BYekan";
  src: url("../font/BYekan.eot") format("eot"), url("../font/BYekan.woff") format("woff"),
    url("../font/BYekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body,
input {
  font-family: "BYekan", Arial, Helvetica, sans-serif;
  border-radius: 5px;
}
h1 {
  font-size: 24px;
}
body {
  font-size: 14px;
  direction: rtl;
  float: right;
  width: 100%;
  margin: 0;
}
.container {
  padding: 16px;
  margin: 8% auto;
  width: 40%;
  box-sizing: border-box;
}
.modal .container {
  /* padding: 16px; */
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}
.list {
  margin: auto;
  display: block;
  width: 100%;
  text-align: right;
  /* border: 1px solid #ccc; */
  float: right;
  padding: 5px 0;
}

#categories .option,
#services .option {
  padding: 10px 0;
  background-color: #e0e0e0;
  margin: 7px 0;
  border-radius: 5px;
}

input[type="checkbox"] {
  float: right;
  margin: 5px 0 0 0;
  width: auto;
}
label {
  padding-right: 10px;
}
.modal div.field {
  width: 100%;
  float: right;
  padding: 3px 0;
}
.modal button {
  width: 48%;
}
.modal label {
  width: 35%;
  display: block;
  padding: 0;
  box-sizing: border-box;
  float: right;
  margin: 11px 0;
}
.modal input[type="text"] {
  width: 65%;
  box-sizing: border-box;
  float: right;
  display: block;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 5px 5px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 14px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 8px 5px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  direction: rtl;
  font-family: "BYekan";
  border-radius: 4px;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 10px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 100%;
  border-radius: 50%;
}

span.psw {
  float: right;
  padding-top: 16px;
}
.floated {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  font-size: 20px;
}
.rounded {
  border-radius: 50%;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

ul {
  list-style: none;
  float: right;
  width: 100%;
  padding: 0;
  margin: 0;
}

.properties li {
  width: 100%;
  float: right;
  padding: 5px;
  box-sizing: border-box;
  border-top: 1px solid #ddd;
}

.properties li .key {
  width: 36%;
  float: right;
  display: block;
}

.properties li .value {
  width: 64%;
  float: right;
  display: block;
}

button.accordion {
  margin: 0;
  padding: 5px;
  background-color: #e0e0e0;
  color: #000;
  margin: 3px 0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  position: relative;
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 10px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* @media screen and (-webkit-min-device-pixel-ratio: 2) {
} */

.topnav {
  overflow: hidden;
  background-color: #555555;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4caf50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    margin: 0;
  }
  body,
  input,
  button,
  input[type="text"],
  input[type="password"] {
    font-size: 16px;
  }
  input[type="checkbox"] {
    /* -webkit-transform: scale(3, 3); */
    transform: scale(3, 3);
    margin: 30px 0 0 0;
  }
  .modal-content {
    width: 95%;
  }
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    width: 16px;
  }
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
}

a.back-list {
  position: absolute;
  color: #f2f2f2;
  font-size: 29px;
  left: 5px;
  margin: 3px 10px;
}

.topnav a.logout {
  color: #ff6666;
}
